@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4B8684
}

:root {
  --tamanho-header: 13vh;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) );
  --tamanho-simulador: calc(150vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

a {
  color: #000;
  text-decoration: none;
  text-align: center;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  width: 100%;
  height: var(--tamanho-header);
  
}

.header .container {
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  display:flex;
  align-items: stretch;

}

.header a {
  text-decoration: none;
  color: #fff;
}

.agora {
  font-weight: 100;
  
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

.navbar li{
  display: flex;
  align-items: center;
  
}

.navbar .botoes{
display: flex;
align-items: center;
background-color: #355E5E;
height: 100%;
gap: 25px;
padding: 0 38px;
margin-left: auto;
}
.navbar .botoes a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.titulo {
  color: #fff;
  width: fit-content;
  font-weight: 500;
}

.logo{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo img{
  height: 40px;
  width: auto;
}

.logo span{
  color: brown;
}


.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: 110vh;
  width: 100vw;
  color: white;
  background-image: url('../assets/imgs/escalando_indoor.jpg');
  background-size: cover;
  box-shadow: inset 0 -30px 20px -10px rgba(0,0,0,0.6);
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  align-items: center;

}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  box-shadow: inset 0 20px 20px -10px rgba(0,0,0,0.6);
  background-image: url('../assets/imgs/PAREDEESCURA.jpg');
    width: 100vw;
    height: 100vh;
    padding-bottom: 30%;
    object-position: center;
    display: flex;
    background-size: cover;
    background-position: center;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  padding: 30px 0;
}

.social .container .box{
  background-color: white;
  border-radius: 40px;
  padding:30px 20px;
  max-width: 250px;
  max-height: 380px;
  box-shadow: 5px 5px 5px 5px grey;
  opacity: 80%;
}

.social p {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.social h4 {
 font-size: 20px ;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
 background-color: #e5e5e5;
  background-size: cover;
  background-position: center;
  height: 150px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 100vw;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer h4{
  margin: 0;
  font-size: 18px;
}

.footer .container .version {
  font-size: 12px;
  color: black;
}

.footer .container .frase{
  color: black;
  font-weight: bold;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/paredesetor2.jpg');
  background-size: cover;
}

.container .titulo label{
color: brown;
}

.navbar a{
  text-decoration: none;
  color: #fff; 
  font-weight: 500;
}

.footer .container{
  color: black;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color:#355E5E;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* CADASTRO */

.container .logo span{
  color: brown;
}

.header .navbar{
  gap: 20px;
}


/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #355E5E 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #355E5E;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

/* Onde Praticar */

/* Garante que o container limite a largura e centralize o conteúdo no meio da tela */
.container {
  display: flex;
  width: 80%; /* Ou a largura que você definiu para o seu site */
  justify-content: space-between;
}

/* Estilo específico para o título da página abaixo do menu */
.titulo-pagina {
  width: 100%;
  box-shadow: inset 0 20px 20px -10px rgba(0,0,0,0.6); /* Espaçamento para não ficar colado no menu */
}

.titulo-pagina .container {
  justify-content: flex-start; 
  /* Força o conteúdo para a esquerda */
}

.titulo-pagina h2 {
  font-size: 60px; /* Tamanho grande como na sua imagem */
  margin: 0;
}

